{{ $page := .root }}
{{ $section := .page }}

{{ $link := $section.Params.link }}

<!-- PDF Viewer widget -->

<div class="row">
  <div class="col-12 col-lg-4">
    <div id="Google-Drive-Embed">
      <h1>{{$section.Title}}</h2>
    </div>
  </div>
  <div class="col-12 col-lg-8">
    <div class="article-style">
      <div style="position: relative; padding-bottom: 67.5%; height: 0; margin: 10px 0; overflow: hidden;">
        <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="{{ $link }}?usp=drivesdk"></iframe>
      </div>
      <p>{{ $section.Content }}</p>
    </div>
  </div>
</div>
