{{ $page := .root }}
{{ $section := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $author_page_path := (printf "/authors/%s" $author) }}
{{ $author_page := .Site.GetPage $author_page_path }}

{{ $pdf := ($author_page.Resources.ByType "application/pdf").GetMatch (printf "%s*" $page.Params.file_name) }}

<!-- PDF Viewer widget -->

<h1>{{$section.Title}}</h2>
<h2>author_page_path: {{ $author_page_path }}</h2>
<h2>author: {{ $author }}</h2>


{{ if eq $section.Params.downloadable false }}
    <embed src="{{ $pdf.RelPermalink }}#toolbar=0" width="100%" height="{{ $section.Params.document_height }}"></embed>
{{ else }}
    <embed src="{{ $pdf.RelPermalink }}" width="100%" height="{{ $section.Params.document_height }}"></embed>
{{ end }}

<p>{{ $section.Content }}</p>
